@charset "utf-8";
.box {
	height: 1008px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.box .header {
	background-color: #FFF;
}
.header {
	height: 300px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.header .nav {
	background-color: #FFF;
}
